<web-app>

<servlet>

<servlet-name>AddStudent</servlet-name>
<servlet-class>AddStudentServlet</servlet-class>

</servlet>

<servlet-mapping>

<servlet-name>AddStudent</servlet-name>
<url-pattern>/addStudent</url-pattern>

</servlet-mapping>

<servlet>

<servlet-name>DeleteStudent</servlet-name>
<servlet-class>DeleteStudentServlet</servlet-class>

</servlet>

<servlet-mapping>

<servlet-name>DeleteStudent</servlet-name>
<url-pattern>/deleteStudent</url-pattern>

</servlet-mapping>

<servlet>

<servlet-name>ListStudent</servlet-name>
<servlet-class>ListStudentsServlet</servlet-class>

</servlet>

<servlet-mapping>

<servlet-name>ListStudent</servlet-name>
<url-pattern>/listStudents</url-pattern>

</servlet-mapping>

<servlet>

<servlet-name>UpdateStudent</servlet-name>
<servlet-class>UpdateStudentServlet</servlet-class>

</servlet>

<servlet-mapping>

<servlet-name>UpdateStudent</servlet-name>
<url-pattern>/updateStudent</url-pattern>

</servlet-mapping>


</web-app>